@charset "UTF-8";

.hidden {
    display:none;
    visibility: hidden;
}

.visible {
    visibility: visible !important;
}

body {
    margin:0;
    padding:0;
    /*background: url(../images/bg-video-nomute.mp4)*/
    background: url(../images/bg-video-nomute.mp4);
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Raleway;
}

body a:hover {
    cursor: pointer;
    color: #001487;
    text-decoration: none;
    transition: ease-in .2s;

}

#logo {
    padding-top: 5px;
    padding-left: 5px;
}

#header {
    float: right;
    margin-right: -60px;
} 

ul li {
    padding-right: 20px;
}

ul li a {
    color: grey;
    display: inline;
    text-decoration: none;
}

button:focus {
    outline:0;
}

#navbarSupportedContent {
    font-size: 14px;
}

#header ul li a:hover
{
    border-bottom: 1px solid #001487;
}


.about p b {
    border-right: 1px solid #001487;
    padding-right: 5px;
    color: #001487;
    font-weight: bold;
}

p {
    font-family: Raleway, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: grey;
    float: center;
    font-size: 13px;
}

h1 {
    color: grey;
    float: center;
    font-family: Raleway Thin, Raleway, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    color: #001487;
    font-family: Raleway, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main h5 {
    color: grey;
    font-family: Raleway, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.video-fluid {
    width: 50%;
    height: auto;
    margin-top: 500px;
  }

  #video {
    display: block;
    margin: 0 auto;
  }

.skills {
    color: #001487;
    margin-left: 1px;
}

#infographic {
    width: 275px;
    margin-left: -20px;
}

.btn {
	line-height: 50px;
	height: 60px;
	text-align: left;
	width: 160px;
    cursor: pointer;
    
}

.btn-one {
	color: grey;
	transition: all 0.3s;
    position: relative;
    background-color: transparent;
}
.btn-one span {
    transition: all 0.3s;
}

.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color:#001487;
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
    background-color: none;
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

.work-imgs {
    width: 550px;
    height: 450px;
}

.work {
    display: inline;
    float: left;
}

#vid {
    margin-bottom: -150px;
}

#vid2 {
    margin-bottom: -150px;
}

.details {
    font-size: 14px;
}

#app h5 {
    font-size: 15.5px;
}

body a {
    color: grey;
}

.icon {
    color: grey;
    display: inline;
}

.icon:hover {
    background-color: #c9c9c9;
    border-radius: 25%;
    transition: 0.3s;

}

.form-body {
    color: #001487;
    opacity: 0.7;
    font-size: 15px;
}

.form-body textarea, .form-body input
{
    color: grey;
	width: 500px;
	height: 40px;
	background-color: transparent;
	border: 1px solid grey;
}

.form-body textarea, input {
    width: 500px;
	height: 210px;
	background-color: transparent;
    border: 1px solid grey;
    box-shadow: 0 0 10px #b5c0d1;
    opacity: 0.75;
}


.form-body #email {
    margin-top: -150px;
}

.form-body #subject {
    margin-top: -80px;
}

#email-text {
    padding-bottom: 5px;
}

#subject {
    padding-bottom: 5px;
}


  .worktext a {
    color: #001487;
    font-size: 15px;
    font-family: Raleway, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .worktext h5 {
      color: grey;
      font-size: 15px;
      font-family: Raleway, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

#main h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    color: #58595a;
}

#main p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

.freelance {
    color: black;
    text-align: center;

}

.lsfc {
    color: #ffaa00;
    text-align: center;
}

.pv {
    color: #800080;
    text-align: center;
}

.sl {
    color: #000080;
    text-align: center;
}

.thermo {
    color: #0099e6;
    text-align: center;
}

.carousel-inner img {
    width: 750px;
    height: 750px;
    margin-left: 150px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: grey;
    padding: 20px;
}

.prev-button {
    float: left;
    padding-left: 40px;
    font-size: 15px;
}

.next-button {
    float: right;
    padding-right: 40px;
    font-size: 15px;
}

#myNav .mailto {
    font-size: 13px;
    color: #adadad;
}

#myNav .mailto:hover {
    color:#001487;
}

#myNav .by {
    font-size: 13px;
    color: grey;
    padding-top: 30px;
}

.contact-message {
    font-family: Raleway Light, Raleway;
    font-size: 20px;
    color: #001487;
    padding-right: 40px;
    text-align: left;    
}

.direct-email {
    font-size: 15px;
    margin-left: -10px;
}



/*MEDIA QUERIES*/

@media screen and (max-width: 1199px) {
    .carousel-inner img {
        margin-left: 60px;
    }
  }


  @media screen and (max-width: 992px) {
    .carousel-inner img {
        margin-left: 100px;
        width: 400px;
        height: 400px;
    }
  }

  @media screen and (max-width: 767px) {
    .carousel-inner img {
        margin-left: 45px;
        width: 360px;
        height: 360px;
    }
  }

  @media screen and (max-width: 571px) {
    .carousel-inner img {
        margin-left: 100px;
        width: 290px;
        height: 290px;
    }
  }

  @media screen and (max-width: 537px) {
    .carousel-inner img {
        margin-left: 80px;
        width: 290px;
        height: 290px;
    }
  }

  @media screen and (max-width: 505px) {
    .carousel-inner img {
        margin-left: 60px;
        width: 300px;
        height: 300px;
    }
  }

  @media screen and (max-width: 460px) {
    .carousel-inner img {
        margin-left: 30px;
        width: 290px;
        height: 290px;
    }
  }

  @media screen and (max-width: 425px) {
    .carousel-inner img {
        margin-left: 30px;
        width: 250px;
        height: 250px;
    }
  }

  @media screen and (max-width: 860px) {
    .about {
        padding-right: 35px;
    }
  }

  @media screen and (max-width: 1000px) {
    #logo {
        width: 250px;
    }
  }

  @media screen and (max-width: 500px) {
    #logo {
        width: 220px;
    }
  }


  @media screen and (max-width: 1199px) {
    #app img {
        width: 100%;
        height: 100%;
    }
  }

@media screen and (max-width: 1271px) {
   .form-body .email {
        margin-top: 160px;
    }
  }

  @media screen and (max-width: 1271px) {
    .form-body .subject {
         margin-top: 80px;
     }
   }

   @media screen and (max-width: 1271px) {
    .form-body .message {
         margin-top: 10px;
     }
   }

   @media screen and (max-width: 420px) {
    .form-body .message {
         margin-top: -30px;
     }
   }


  @media screen and (max-width: 700px) {
    .form-body textarea, .form-body input {
        width: 320px;
    }
  }

  @media screen and (max-width: 700px) {
   .form-body #message textarea, #message input {
        width: 320px;
    }
  }


  @media screen and (max-width: 600px) {
    .imgs img, {
        width: 100%;
        height: 100%
    }
  }

  @media screen and (max-width: 1199px) {
    .video-sec #vid, #vid2 {
        width: 100%;
        height: 100%;
        margin-bottom: -50px;
    }
  }


  @media screen and (max-width: 1199px) {
    div img {
        width: 100%;
        height: 100%;
    }
  }


  @media screen and (max-width: 1200px) {
    .icon {
        width: 30px;
        height: 30px;
    }
  }

  @media screen and (max-width: 1199px) {
    .posters img {
        width: 100%;
        height: 100%;
    }
  }


  @media screen and (max-width: 1199px) {
    #main-thermo-image-small {
        width: 100%;
        height: 100%;
    }
  }


  @media screen and (max-width: 1199px) {
    .lsfcposter {
        width: 100%;
        height: 100%;
    }
  }

  /*TYPEWRITING ANIMATION */

  @keyframes type {
    0% {
        width:0ch;
    }
    100% {
        width:35ch;
    }
}

@keyframes type1 {
    0% {
        width:0ch;
    }
    100% {
        width:19ch;
    }
}

@keyframes type2 {
    0% {
        width:0ch;
    }
    100% {
        width:40ch;
    }
}

#app p {
    animation: type 4s steps(35);
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid grey;
    width: 35ch;
}

#email-link {
    animation: type1 3s steps(19);
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid grey;
    width: 19ch;
}

#app h5 {
    animation: type2 4s steps(40);
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid grey;
    width: 40ch;
}